body {
  min-width: 0;
}

.container {
  width: auto;
  max-width: 980px;
}

.boxed-group {
  margin-top: 20px;
}

.header-title {
  font-weight: 600;
}

.file-info-divider {
  margin-left: 10px;
  margin-right: 10px;
}

.file > h3 {
  border: none;
}

.header-logo-invertocat {
  height: 28px;
  margin-top: -1px;
}

.inline-wrapper {
  display: inline;
  margin: 0;
  padding: 0;
}

.site-footer {
  margin-top: 20px;
  padding: 20px 0;
}

.hidden {
  display: none;
}

.ace_editor {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  display: block;
  height: calc(100vh - 200px);
}

.search blockquote {
  font-size: 85%;
}

.file-modified {
  font-weight: normal;
  font-size: 90%;
  color: #666;
}

.mermaid:not([data-processed='true']) {
  visibility: hidden;
}

rect {
  shape-rendering: auto !important;
}

.drag-and-drop {
  border: none;
  border-top: 1px dashed #ddd;
}

#add-modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
}

#add-modal > .boxed-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1020px) {
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header .header-search {
    width: auto;
  }
}

@media print {
  .container {
    max-width: none;
  }

  .boxed-group {
    margin: 0;
  }

  .header, .site-footer, .file-header {
    display: none;
  }

  .file {
    border: 0;
    margin: 0;
  }

  .markdown-body {
    padding: 0 !important;
  }
}

#_toc {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(250, 250, 250);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(250, 250, 250);
}

#_toc ul {
    padding: 0px 0px 0px 20px !important;
    margin: 0px !important;
    list-style: none;
}
#_toc li {
    list-style: none;
}

#_toc a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  color: rgb(54, 65, 73) !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-transform: none !important;
  letter-spacing: 0.2px !important;
  display: block !important;
  text-decoration: none !important;
  background: none !important;
  border-width: 0px !important;
  border-style: initial !important;
  border-color: initial !important;
  border-image: initial !important;
  padding: 5px 10px !important;
}

.markdown-body {
  font-family: "Fira Code", "Consolas", Courier, "Lantinghei TC", monospace !important;
}

.markdown-body ul, .markdown-body ol {
  padding-left: 1em; 
}

@media print {
  #_toc { display: none; }
  body {
    padding-left: 0;
  }
  /* thead {
    display: table-row-group;
  } */
  tr, td, th, thead, tfoot {
    page-break-inside: avoid !important;
  }
}

@media only screen and (min-width: 600px) {
  body.has-toc {
    padding-left: 300px;
  }
}

@media only screen and (max-width: 600px) {
  #_toc { display: none; }
}
